@charset "UTF-8";

$breakpoint1: 1280px;
$breakpoint2: 980px;
$breakpoint3: 768px;
$breakpoint4: 375px;

@mixin subject{
    font-size: 36px;
    display:inline-block;
    border-bottom:5px solid #F2632D;
}


body{
    margin:0;
    font-family: 'Hiragino Kaku Gothic Pro', 'メイリオ', sans-serif;
}

.container{
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    max-width: 980px;
    margin:{
        right: auto;
        left: auto;
    }
    box-sizing: border-box;
    height:60px;

    @media(max-width: $breakpoint3){
        flex-direction: column;
        align-items: center;
        height: 88px;
    }


    img{
        height: 45px;
        margin-left: 15px;

        @media(max-width: $breakpoint2){
            height: calc(1.65vw + 29px);
        }

        @media(max-width: $breakpoint3){
            margin-left: 0;
        }

        @media(max-width: $breakpoint4){
            height: 35px;
        }
    }

    nav ul{
        display: flex;
        padding: 0;
        margin: 0 15px 0 0;

        @media(max-width: $breakpoint3){
            margin-right: 0;
        }

        li {
            list-style-type: none;
            font-size:18px;
            font-weight: bold;

            @media(max-width: $breakpoint3){
                font-size: 16px;
            }
            
            &:not(:nth-child(3)){
                margin-right: 44px;
            }
        }
    }
}

.hero{
    background-image: url(image/image1.svg);
    background-size: cover;
    background-position: center;
    height: calc(26.5vw + 261px);
    min-height: 360px;
    
}
    
.menu{
    max-width: 918px;
    margin:{
        top:43px;
        right: auto;
        left: auto;
    }

    @media(max-width: $breakpoint2){
        margin-right: 3.16%;
        margin-left: 3.16%;
        
    }

    @media(max-width: $breakpoint3){
        margin:{
            right: 13%;
            left: 13%;
        }
    }

    .menu_bl{
        text-align: center;
        margin-bottom: 30px;

        h2{
            @include subject;
        }
    }

    .article_bl{
        display: flex;
        justify-content: space-between;

        @media(max-width: $breakpoint3){
            flex-direction: column;
        }

        article{

            figure{
                margin: 0;

                img{
                    width: 100%;
                }
            }

            h3{
                font-size: 28px;
                text-align: center;
                margin: 0;
            }

            p{
                font-size: 20px;
                text-align: center;
                margin-top: 0;
                margin-bottom: 45px;
                
            }

            &:not(:last-child){
                margin-right: 5%;

                @media(max-width: $breakpoint3){
                    margin-right: 0;
                }
            }
        }
    }
}


.about{
    max-width: 980px;
    margin:43px auto 140px auto;

    @media(max-width: $breakpoint2){
        margin-bottom: calc(13.22vw + 10.444px);
    }

    .about_bl{
        text-align: center;
        
        h2{
            @include subject;
            margin-top: 0;
            margin-bottom: 39px;
        }
    }

    .topic{
        display: flex;
        justify-content: space-around;

        @media(max-width: $breakpoint2){
            flex-direction: column;
            align-items: center;
        }


        .about_tip{

            @media(max-width: $breakpoint2){
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            h4{
                font-size: 32px;
                margin: 0;

                @media(max-width: $breakpoint2){
                    font-size: calc(0.991vw + 22.29px);
                    text-align: center;
                }
        
                @media(max-width: $breakpoint4){
                    font-size: 26px;
                }

            }

            p{
                font-size: 22px;

                @media(max-width: $breakpoint2){
                    text-align: center;
                }
            }

            a{
                display: inline-block;
                height: 48px;
                width: 140px;
                border-radius: 25px;
                border: 3px solid #F2632D;
                box-sizing: border-box;
                text-align: center;
                font-size: 18px;
                line-height: 2.5;
                color: #F2632D;

                @media(max-width: $breakpoint2){
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        figure{
            margin: 0;
            @media(max-width: $breakpoint2){
                text-align: center;
                margin-top: 50px;
                margin-right: 15px;
                margin-left: 15px;
            }


            img{
                max-width: 450px;
                width: 100%;
                @media(max-width: $breakpoint2){
                    max-width: none;
                    width: 95%;
                }
            }
        }
    }

}

footer{
    width: 100%;
    background-color: #D5D5D5;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        color: #FFFFFF;
    }

}


